.other-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.single-container{
    text-align: center;
    padding: 10px 5px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.single-container h3{
    color: black;
}
.other-container img{
    height: 50px;
    border-radius: 100%;
}
@media screen and (max-width: 600px) {
    .other-container{
        display: block;
    }
}