.footer-container{
    background-color: rgb(48, 40, 40);
    color: white;
    padding: 30px;
}
.footer-area{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.footer-area ul{
    list-style-type : none;
}
.footer-area p{
    text-align: left;
    margin-left: 30px;
    letter-spacing: 2px;
    font-size: 14px;
}
.footer-area ul li{
    text-align: left;
    font-size: 12px;
    letter-spacing: 1px;
}
.join-area input{
    padding-left: 60px;
    border-radius: 10px;
    border: none;
}
.footer-title{
    color: tomato;
}

@media screen and (max-width: 600px) {
    .footer-area{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .footer-title{
        margin-left: 28px;
        text-align: left;
    }
}